html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-image: url("./assets/bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    margin: unset;
    display: flex;
    max-width: 100%;
    max-height: 100%;
  }

header{
    height: auto;
    width: 100%;
    overflow: hidden;
    z-index: 100;
}

header img{
    width:100%;height:120px;display:block;object-fit: cover;
}

header img.switch{
    width: auto; height: 50px;
    position: absolute;
    top: 8px;
    right: 16px;
    opacity: 80%;
    transition: 0.5s;
}

header img.switch:hover{
    filter: drop-shadow(0px 0px 6px white);
    opacity:unset;
}

header div{
    height: 20px;
    background-color: #800000;
}

header div p{
    text-align: center;
    font-size: 10px;
    padding-top: 1px;
    color: white;
    opacity: 0%;
}
header div:hover p{
    opacity: 100%;
}

div#content{
    width: 80%;
    margin: auto;
    align-content: center;
    text-align: center;
    padding: 30px 0;
}

img#mainImage{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.274), 0 6px 8px 0 rgba(0, 0, 0, 0.24);
}

h1{
    font-size: 5.5em;
    padding-left: 0.5em;
    font-weight: bold;
    padding-bottom: 20px;
    color: rgb(19, 14, 14);
}

h2{
    font-size: 2.2em; 
    padding-top: 10px;
    color: rgb(94, 89, 89);
}


@media screen and (max-width: 800px) {
body {
    height: 100%;
    width: auto;
    background-size: cover;
    display: unset;
}

header img{
    /* height: 230px; */
    object-position: 5%;
}

div#content{
    width: 90%;
    overflow: hidden;
}
h1{font-size: 70px;
    padding:0;
margin-top: 10px;margin-bottom: 30px;}
h2{font-size:40px}
}html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-image: url("./assets/bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    margin: unset;
    display: flex;
    max-width: 100%;
    max-height: 100%;
  }

header{
    height: auto;
    width: 100%;
    overflow: hidden;
    z-index: 100;
}

header img{
    width:100%;height:120px;display:block;object-fit: cover;
}

header div{
    height: 20px;
    background-color: #800000;
}

div#content{
    width: 80%;
    margin: auto;
    align-content: center;
    text-align: center;
    padding: 30px 0;
}

img#mainImage{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.274), 0 6px 8px 0 rgba(0, 0, 0, 0.24);
}

h1{
    font-size: 5.5em;
    padding-left: 0.5em;
    font-weight: bold;
    padding-bottom: 20px;
    color: rgb(19, 14, 14);
}

h2{
    font-size: 2.2em; 
    padding-top: 10px;
    color: rgb(94, 89, 89);
}


@media screen and (max-width: 800px) {
body {
    height: 100%;
    width: auto;
    background-size: cover;
    display: unset;
}

header img{
    object-position: 5%;
}

div#content{
    width: 90%;
    overflow: hidden;
}
h1{font-size: 70px;
    padding:0;
margin-top: 10px;margin-bottom: 30px;}
h2{font-size:40px}
}
